{{#result}}
<div class="container-messages col-xs-8" data-thread-id={{id}}>
    <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">
                    Messages for <strong class="thread-title">{{title}}</strong>
                    <button class="btn-close-msg btn btn-danger btn-xs pull-right glyphicon glyphicon-remove" title="close"></button>
                    <button class="btn-collapse-msg btn btn-xs pull-right glyphicon glyphicon-chevron-up" title="collapse"></button>
                </h3>
            </div>


        <div class="messages panel-body">

            {{#messages}}
                <div class="message">
                    <div>
                        <p class="message-content">{{content}}</p>
                        <p>
                            <span>Created on </span>
                            <span class="message-date">{{#if postDate}}{{postDate}}{{else}}unknown{{/if}}</span>
                            by <a class="message-creator" href="#">{{#if username}}{{username}}{{else}}anonymous{{/if}}</a>
                        </p>
                    </div>
                </div>
            {{/messages}}

            <form class="" role="search">
                <div class="input-group">
                    <input class="input-add-message message-content form-control" placeholder="Add new message..." />
                  <span class="input-group-btn">
                      <button class="btn-add-message btn btn-success " type="submit">Add</button>
                  </span>
                </div>
            </form>
        </div>

    </div>
</div>
{{/result}}
